/*"Moldura" da tela ----------------*/
.canvas{
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 1060px;
	margin: 0px auto;
    padding: 35px;
    position: relative;
	background-color: #fff; }	 

/*Topo - logo ---------------------*/	 
.topo{
	box-shadow: 0 0 40px rgba(0,0,0,.12);
	width: 100%;
    height: 100%;
	text-align: center; }

/*Corpo - body --------------------*/
h2{	text-align: left; }

a { color: #bd55c39e; }

.conteudo{ 	text-align: justify; }
	  
.avatar{ text-align: center; }
	
#contatos{
	margin-right: 30 px;
	word-spacing: 10px; }
	
#descricao{	text-align: center; }
